a {
  text-decoration: none;
  color: black;
}

body, h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-family: "Shrikhand";
  font-style: italic;
}

nav h1 {
  font-family: "Roboto";
  font-style: normal;
}

p, h2, h3 {
  font-family: "Roboto";
}

h3 {
  font-weight: 500;
}

p {
  font-weight: 300;
}

h2 {
  font-weight: 300;
  font-size: 20px;
}

.Menu__item__prix p {
  font-weight: 500;
}

span {
  font-family: "Roboto";
}

button {
  border-radius: 40px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  width: 240px;
  height: 50px;
  color: white;
  font-size: 18px;
  border: 0;
  font-family: "Roboto";
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Resto {
  width: 100%;
}

.header__menu {
  display: flex;
  margin: 20px;
}
.header__menu i {
  padding-top: 4px;
  font-size: 20px;
}
.header__menu .logo {
  width: 40%;
  margin: auto;
}

.header__index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__index img {
  width: 40%;
}
.header__index .Recherche {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  padding: 20px;
}
.header__index .Recherche input[type=text] {
  border: none;
  background-color: lightgray;
}
.header__index .Recherche input::-moz-placeholder {
  font-family: "Roboto";
  color: black;
}
.header__index .Recherche input:-ms-input-placeholder {
  font-family: "Roboto";
  color: black;
}
.header__index .Recherche input::placeholder {
  font-family: "Roboto";
  color: black;
}

footer {
  background-color: #353535;
  color: white;
  font-family: "Roboto";
  padding-left: 20px;
}
footer h2 {
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: 400;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li {
  padding-bottom: 10px;
}
footer a {
  color: white;
}
footer span {
  padding-left: 10px;
}

.restaurant-card img {
  width: 100%;
}

nav {
  text-align: center;
  background-color: #f6f6f6;
}
nav p, nav h2 {
  font-weight: 100;
  font-size: 20px;
}

.Fonctionnement {
  margin-left: 20px;
}
.Fonctionnement p {
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-top: 16px;
  margin-bottom: 20px;
}
.Fonctionnement p i {
  padding-right: 20px;
}
.Fonctionnement span {
  background: #9356DC;
  color: white;
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  justify-content: center;
  position: absolute;
  left: 10px;
  font-size: 10px;
}

.Restaurants {
  background-color: #f6f6f6;
}

.restaurant-card {
  border-radius: 20px;
  margin: 20px 10px;
  position: relative;
  background-color: white;
}
.restaurant-card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0px;
}
.restaurant-card span {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99E2D0;
  color: #2c9c81;
  width: 75px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-card__description {
  padding: 15px;
}
.restaurant-card__description h2 {
  font-weight: bold;
}

.restaurant-card__titre {
  display: flex;
  justify-content: space-between;
}
.restaurant-card__titre i {
  font-size: 27px;
  margin-right: 20px;
}

.heart {
  position: relative;
  color: black;
  z-index: 1;
}
.heart :hover {
  opacity: 1;
  transition: 0.3s;
}
.heart--hover {
  position: absolute;
  top: 0px;
  color: #9356DC;
  opacity: 0;
}

.Menu__titre {
  display: flex;
  justify-content: space-between;
}

.Menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  padding: 20px;
  position: relative;
  bottom: 60px;
}
.Menu a {
  width: 100%;
}
.Menu .Menu__categorie__plat {
  border: 1px;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  background-color: white;
  margin-top: 20px;
}
.Menu .Menu__item {
  display: flex;
  justify-content: space-between;
}
.Menu h3, .Menu p {
  margin: 0;
}
.Menu .Menu__item__prix {
  display: flex;
  justify-content: flex-end;
}
.Menu span {
  border-bottom: solid 3px #99E2D0;
  padding-bottom: 5px;
}/*# sourceMappingURL=main.css.map */