.Resto{
    width:100%
}
.header__menu{
    display: flex;
    margin: 20px;
    & i{
        padding-top:4px;
        font-size: 20px;
    }
    & .logo{
        width: 40%;
        margin: auto;
    }
}
.header__index{
    display: flex;
    flex-direction: column;
    align-items: center;
    & img{
        width: 40%;
        
    }
}





