button{
    border-radius: 40px;
    box-shadow:aqua;
    background: linear-gradient(to top left, $colour-primary,$colour-secondary);
    width:220px;
    height : 60px;
    color: white;
    font-size: 18px;
    border: 0;
    font-family: 'Roboto';
}