.Recherche{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:darken($colour-menu, 7%) ;
    padding: 20px 0 20px 0;
    box-shadow: 0px 4px 5px -3px rgb(96 96 96 / 65%) inset;


    & input[type=text]{
        border: none;
        background-color: darken($colour-menu, 7%) ;
        

    }
    & input::placeholder{
        font-family: 'Roboto';
        color: black;
        padding-left: 15px;
    }
    
}

.description {
    text-align: center;
    background-color: $colour-menu;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
        & p, h2 {
            font-weight: 100;
            font-size: 20px;
        }
}


.Fonctionnement {
padding: 30px 0px 30px 20px;
background-color: white;

        & p{
        padding: 20px;
        background-color: $colour-menu;
        border-radius: 20px;
        margin-top: 16px;
        margin-bottom: 20px;
        box-shadow: 0px 6px 14px -4px rgb(0 0 0 / 20%);
            & i{
                padding-right: 20px;
            }
        }
        & a :hover{
        opacity: 0;
        background-color:lighten($colour-primary,35%);
            & i{
                color: $colour-primary;
            }

            &:hover{
                opacity: 1;
                transition: .2s;
            }
        }

        & span{
            background: $colour-primary;
            color: white;
            display: flex;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            justify-content: center;
            position: absolute;
            left: 10px;
            font-size: 10px;
        }
}

.restaurant{
    background-color: $colour-menu;
    padding-top: 30px;
    padding-bottom: 30px;
        & h2{
            font-weight: 500;
            margin-left: 12px;
        }

        &__card{
        border-radius: 20px;
        margin: 20px 10px;
        position: relative;
        background-color: white;
        box-shadow: 0px 6px 14px -4px rgb(0 0 0 / 20%);

                & img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 20px 20px 0 0px;
                }

                & span {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    background-color: $colour-tertiary;
                    color: darken($colour-tertiary,35%);
                    width: 75px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
                &__description{
                    padding: 15px;
                        & h2{
                            font-weight: bold;
                        }
                } 
                &__titre{
                    display: flex;
                    justify-content: space-between;
                        & i{
                        font-size: 27px;
                        margin-right: 20px;    
                        }
                }
        }
}



.heart{
    position: relative;
    color: black;  
    z-index: 1;
        & :hover{ 
            opacity: 1;
            transition: .3s;
        }



        &--hover {
            position: absolute;
            top: 0px;
            color: $colour-primary;
            opacity: 0;

            
        } 
}


/* MEDIA-QUERIES DESKTOP*/

  @media (min-width:700px){
   
.main{
    margin: 0;
}
.Recherche{
    background-color: darken($colour-menu, 7%) ;
    ;
}
.restaurant__list{
    display: flex;
    & .restaurant__card{
        width: 25%;
    }
}
.Fonctionnement {
    background-color: darken($colour-menu, 7%) ;
margin: 0;
padding: 20px;
    & p{
        position:relative;
        background-color: white;

        & span{
        left:-10px;
        }
    }
    
    &__item{
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
    }
    & a{
        width: 25%;
    }
}



}
    
  

