.Recherche{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:darken($colour-menu, 7%) ;
    padding: 20px 0 20px 0;
    box-shadow: 0px 4px 5px -3px rgb(96 96 96 / 65%) inset;


    & input[type=text]{
        border: none;
        background-color: darken($colour-menu, 7%) ;
        

    }
    & input::placeholder{
        font-family: 'Roboto';
        color: black;
        padding-left: 15px;
    }
    
}

.description {
    text-align: center;
    background-color: $colour-menu;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
        & p, h2 {
            font-weight: 100;
            font-size: 20px;
        }
}


.Fonctionnement {
padding: 30px 0px 30px 20px;
background-color: white;

        & p{
        padding: 20px;
        background-color: $colour-menu;
        border-radius: 20px;
        margin-top: 16px;
        margin-bottom: 20px;
        box-shadow: 0px 6px 14px -4px rgb(0 0 0 / 20%);
            & i{
                padding-right: 20px;
            }
        }
        & a :hover{
        opacity: 0;
        background-color:lighten($colour-primary,35%);
            & i{
                color: $colour-primary;
            }

            &:hover{
                opacity: 1;
                transition: .2s;
            }
        }

        & span{
            background: $colour-primary;
            color: white;
            display: flex;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            justify-content: center;
            position: absolute;
            left: 10px;
            font-size: 10px;
        }
}

.restaurant{
    background-color: $colour-menu;
    padding-top: 30px;
    padding-bottom: 30px;
        & h2{
            font-weight: 500;
            margin-left: 12px;
        }
        a span {
          position: absolute;
          right: 10px;
          top: 10px;
          background-color: $colour-tertiary;
          color: darken($colour-tertiary,35%);
          width: 75px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        
        }
        &__card{
        border-radius: 20px;
        margin: 20px 10px;
        position: relative;
        background-color: white;
        box-shadow: 0px 6px 14px -4px rgb(0 0 0 / 20%);

                & img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 20px 20px 0 0px;
                }

               
                &__description{
                    padding: 15px;
                    justify-content: space-between;
    & i{
        font-size: 27px;
        margin-right: 20px;    
        }
                        & h2{
                            font-weight: bold;
                        }
                } 
                &__titre{
                    display: flex;
                    justify-content: space-between;
                        
                }
        }
}



.heart{
    position: relative;
    color: black;  
    /*
        & :hover{ 
            opacity: 1;
            transition: 3s;
        }

*/

        &--hover {
            position: absolute;
            color: $colour-primary;
            opacity: 0;
            z-index: 1;

            
        } 
}

.HEARTCHECK input[type="checkbox"]{

    opacity: 0;
    width: 0;
    height: 0;

}

.HEARTCHECK input[type="checkbox"]:checked + span{
opacity: 1;
transition: .2s ;}


.PAGE{
        animation-name: page;
        animation-iteration-count: 1;
        position: relative;
        z-index: 1;
        transform-origin: top;
        animation: page 10s ;
        animation-delay: 0s;
        transform: translateY(0);

        @keyframes page{
            0% {
                transform: translateY(9999px);
            }
            100% {
                transform: translateY(0);
                }
            }
      /*
      @keyframes glissement {
        from {
         
          margin-top: 100%;
          height: 300%;
        }
      
        to {
          margin-top: 0%;
          height: 100%;
          bottom: 380px;
        }
      }*/
          }      
////**LOADER*****////
$component-dimension: 180px;
$timing: 3s;
$color-shadow: lightgray;
$pan-color-light: #3949AB;
$pan-color-dark: #5C6BC0;
$loader-color: #FDD835;


@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }
  10% {
    left: 0%;
    transform: rotate(0deg);
  }
  20% {
    width: 0%;
    left: 20%;
  }
  30% {
    width: 25%;
  }
  50% {
    left: 15%;
    width: 35%;
  }
  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }
  90% {
    width: 30%;
    left: 10%;
  }
  100% {
    width: 2%;
    left: 25%;
    transform: rotate(360deg);
    
  }
}

@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shadow {
  0% {
    width: 30%;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  100% {
    width: 30%;
 }
}

.pan-loader {
    width: $component-dimension;
    height: $component-dimension;
  
  // border: 1px solid red;
  margin: 100px auto;
position: absolute;
left: 30%;

  .loader {
    position: relative;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 60%;
    height: 45%;
    border: 10px solid transparent;
    border-bottom: 10px solid $loader-color;
    border-radius: 50%;
    animation: loader $timing 3;
    animation-timing-function: linear;
  }
  .pan-container {
    display:flex;
    width: 100%;
    animation: pan $timing 3;
  }
  .pan {
    width: 60%;
    height: 20px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .handle {
    width: 40%;
    height: 10px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .shadow {
    position: relative;
    top: 15%;
    left: 15%;
    width: 30%;
    height: 8px;
    background: $color-shadow;
    // box-shadow: 5px 0 8px 4px $color-shadow;
    border-radius: 20px;
    animation: shadow $timing 3;
  }
}

.HEARTCHECK {
  position: absolute;
  right: 30px;
  bottom: 21px;
  font-size: 30px;
}

/* MEDIA-QUERIES DESKTOP*/

  @media (min-width:700px){
   
.main{
    margin: 0;
}
.Recherche{
    background-color: darken($colour-menu, 7%) ;
    ;
}
.restaurant__list{
    display: flex;
    & .restaurant__card{
        width: 25%;
    }
}
.Fonctionnement {
    background-color: darken($colour-menu, 7%) ;
margin: 0;
padding: 20px;
    & p{
        position:relative;
        background-color: white;

        & span{
        left:-10px;
        }
    }
    
    &__item{
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
    }
    & a{
        width: 25%;
    }
}

.HEARTCHECK {
    position: absolute;
    right: 30px;
    bottom: 21px;


 :hover{
   
                opacity: 1;
                transition: 1s;
            
        } 
}
.heart--hover{
bottom: 0px;
}
.pan-loader {

position: absolute;
left: 50%;

  }

  }
  