.Menu{
    
    background-color: #f6f6f6;
    border-radius:  40px 40px 0px 0px;
    padding: 20px;
    position: relative;
    bottom: 60px;
    
    & a{
        width: 100%;
        
    }

    & .Menu__categorie__plat{
        border: 1px;
        border-radius: 15px;
        display: flex;
        padding: 10px;
        background-color: white;
        margin-top: 20px;
       
    }
    
    & .Menu__item{
        display: flex;
        justify-content: space-between;

    }
    & h3, p{      
          margin: 0;
    }
    
    
    & .Menu__item__prix{
        display: flex;
        justify-content: flex-end;

    }
   
    

    & span{
     
       border-bottom: solid 3px #99E2D0 ;
       padding-bottom: 5px;
    }
}

