

.Menu__titre{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    & i{
        font-size: 33px;
        margin-right: 20px;
    }
}
.Menu{
    
    background-color: #f6f6f6;
    border-radius:  40px 40px 0px 0px;
    padding: 20px;
    position: relative;
    bottom: 60px;
    
    & a{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
  

    /*
    @keyframes affich {
        0% {
            transform-origin: bottom;
            transform: scaleY(0);
            opacity: .1;
        }
       
        46% {
            transform: scaleY(.81);
        }
        85%,100% {
            opacity: 1;
        }
        100% {
            transform: scaleY(1);
        }
    }
   */

    & .Menu__categorie__plat{
        border: 1px;
        border-radius: 15px;
        display: flex;
        background-color: white;
        margin-top: 20px;
     
    
       
    }
    
    & .Menu__item{
        display: flex;
        flex-direction: column;  
        margin: 10px;      

    }
    & h3, p{      
          margin: 0;
    }
   
    
    & .Menu__item__prix{
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
        margin-right: 20px;
        
      
 }

 .block__prixi{
    display: flex;
    position: relative;

 }
        
   
    

    & span{
     
       border-bottom: solid 3px #99E2D0 ;
       padding-bottom: 5px;
    }

}
.ilog{
    width: 60px;
    height: 60px;
    border: none;
    display: none;
    border-radius: 0 15px 15px  0;
    background-color: $colour-tertiary



}
.Menu__categorie{
    margin-top: 30px;
    margin-bottom: 30px;
    & h2{
        font-weight: 300;
    }
    & :hover{
       & .block__prixi{
        animation-name: decalage;
        animation-duration: 1s;
        transform-origin: right;
        transform: translateX(0%);
        @keyframes decalage {
            0%{
                transform: translateX(50%);
            }
           
            100%{
                transform: translateX(0%);

            }
            
        }
    
       }

        & .Menu__item__prix{
        
        }
            & .ilog{
              
                background-color: $colour-tertiary;
                display: flex;
                justify-content: center;
                align-items: center;
            }
                & i{
                    color: white;
                    animation-name: decalage2;
        animation-duration: 1s;
        transform: rotate(-360deg);
        @keyframes decalage2 {
            0%{
                transform: rotate(360deg);
            }
           
            100%{
                transform: rotate(0);

            }
            
        }

            
        }
        
    }
}




/* MEDIA QUERIES DESKTOP*/

@media (min-width:700px){


    .Resto{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

}
