$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary:#99E2D0;
$colour-footer:#353535;
$colour-menu:#f6f6f6;
$colour-bouton:linear-gradient(to top left, $colour-primary,$colour-secondary);